.idea/

build/

[Bb]in/*
[Oo]bj/

*.cbp

*.depend  
*.layout 

cmake-build-debug/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

Dockerfile
TODO.md
ImageSegmentation
